
@keyframes displayContent {
  /* 0% {
    height: 85vh;
    width: 85vw;
  }
  
  20% {
    height: 5vw;
    width: 5vw;
  }

  100% {
    height: 100vh;
    width: 100vw;
  } */

  0% {
    height: 0px;
    width: 0px;
  }
  
  20% {
    height: 100px;
    width: 100px;
  }

  100% {
    height: 100vh;
    width: 100vw;
  }

}

#content .display > #content-container {
  animation-name: displayContent;
  animation-duration: 4s;
}

#content {
  height: 100vh;
  width: 100vw;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: rgba(0,0,0,0);
}

#content-container {
  background-color: gray;
  max-width: 85vw;
  max-height: 85vh;
  overflow-y: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes contentContainerHide {
  0% {
    max-width: 85vw;
    max-height: 85vh;
    /* position: absolute; */
    /* top: 0vw;
    left: 0vw; */
  } 

  40% {
    transform: translateX(-500px);
    /* transform: translateY(-50%); */
    transform: scale(1,1);
  }


  50% {
    /* width: 5vw;
    height: 5vw; */
    /* transform: scale(1, 0.07); */

  }



  100% {
    /* height: auto; */
    /* position: absolute; */
    /* bottom: 3vw;
    right: 3vw; */
    /* width: 5vw;
    height: 5vw; */
    transform: scale(0.07, 0.07);
  }
}


#content.hide > #content-container {
  overflow: hidden;



  animation-name: contentContainerHide;
  animation-duration: 5s;
  animation-fill-mode: forwards;
  
}


#content.hide > #content-container > #menu {
  /* animation-name: menuHide;
  animation-duration: 10s; */
}