
@keyframes displayContent {
  /* 0% {
    height: 85vh;
    width: 85vw;
  }
  
  20% {
    height: 5vw;
    width: 5vw;
  }

  100% {
    height: 100vh;
    width: 100vw;
  } */

  0% {
    height: 0px;
    width: 0px;
  }
  
  20% {
    height: 100px;
    width: 100px;
  }

  100% {
    height: 100vh;
    width: 100vw;
  }

}


#content {
  height: 100vh;
  width: 100vw;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: rgba(0,0,0,0);
}

#content-container {
  background-color: gray;
  width: 85%;
  height: 85%;
  overflow-y: auto;
  position: absolute;
  /* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
}

@keyframes contentContainerHide {
  0% {
    /* max-width: 85vw;
    max-height: 85vh; */
    transform: translateY(0);
    /* position: absolute; */
    /* top: 0vw;
    left: 0vw; */
  } 

  10% {
    /* opacity: 0%; */
  }

  20% {
    /* transform: translateY(-35vh); */
    transform: scaleY(0.07);
    /* transform: scaleY(0.07) translateY(-350px); */
  }
  
  21% {
    transform: translateY(-45vh);
  } 

  40% {
    /* transform: translateX(0); */
    /* transform: translateY(-50%); */
    /* transform: scale(1,1); */
    transform: scale(0.07, 0.07);
  }


  50% {
    /* width: 5vw;
    height: 5vw; */
    /* transform: scale(1, 0.07); */

  }



  100% {
    /* height: auto; */
    /* position: absolute; */
    /* bottom: 3vw;
    right: 3vw; */
    /* width: 5vw;
    height: 5vw; */
    transform: scale(0.07, 0.07);
  }
}


@keyframes contentContainerHide {
  0% {
    transform: scale(1) translateY(0);
  }
  50% {
    transform: scaleY(0.07) translateY(-570vh);
  }
  100% {
    transform: scaleY(0.07) translateY(-570vh);
  }
}

@keyframes contentContainerHide {
  0% {
    height: 100%;
    transform: translateY(0);
  }
  33% {
    height: 7%;
    border-radius: 25%;
    /* opacity: 0; */
    transform: translateY(-15vh);
  }
  67% {
    height: 7%;
    width: 7%;
    border-radius: 7%;
    /* opacity: 0; */
    /* transform: translateY(-40vh); */
  }
  100% {
    height: 7%;
    width: 7%;
    border-radius: 25%;
    /* opacity: 0; */
    transform: translate(40vw, 40vh);

  }
}


.hide.animate > #content-container {
  overflow: hidden;
  animation-name: contentContainerHide;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  
}

.display.animate > #content-container {
  animation-name: contentContainerHide;
  animation-direction: reverse;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

#content.display > #content-container > #menu {
  visibility: visible;
}

#content.display > #content-container > #portrait-icon {
  visibility: hidden;
}

#content.hide > #content-container > #menu {
  visibility: hidden;
  height: 0;
}

#content.hide > #content-container > #portrait-icon {
  visibility: visible;
}

/* #content.hide > #content-container > #menu { */
  /* animation-name: menuHide;
  animation-duration: 10s; */
/* } */