.detail-section {
  padding: 10px;
  /* display: flex;
  flex-wrap: wrap; */
}

.linebreak {
  white-space: pre-line;
}

.image-container {
  margin-right: 10px;
  float: left;
  max-height: 400px;
  max-width: 400px;
}

.image-container > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-height: 100%;
  max-width: 100%;
  min-height: 150px;
  min-width: 150px;
}

.text-container {
  padding-left: 10px;
  padding-right: 10px;
}

.technologies-row {
  display: flex;
  flex-wrap: wrap;
}

.technologies-row-image-container {
  margin: 12px;
  max-width: 50px;
  display: inline-block;
  height: auto;
  overflow: hidden;
  display: flex;
  border-radius: 15px;
}

.technologies-row-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  max-height: 100%;
}


.links-row {
  display: flex;
  flex-wrap: wrap;
}

.links-row-image-container {
  margin: 12px;
  max-width: 50px;
  display: inline-block;
  height: auto;
  overflow: hidden;
  display: flex;
  border-radius: 15px;
}

.links-row-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  max-height: 100%;
}