.detail-section {
  padding: 10px;
  /* display: flex;
  flex-wrap: wrap; */
}

.linebreak {
  white-space: pre-line;
}

.image-container {
  margin-right: 10px;
  float: left;
  max-height: 400px;
  max-width: 400px;
}

.image-container > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-height: 100%;
  max-width: 100%;
  min-height: 150px;
  min-width: 150px;
}

.text-container {
  padding-left: 10px;
  padding-right: 10px;
  height: auto;
  contain: content;
  margin-bottom: 15px;
}

.tech-and-links {
  /* display: block; */
}

.technologies-row {
  display: flex;
  flex-wrap: wrap;
}

.technologies-row-image-container {
  margin: 12px;
  width: 50px;
  height: 50px;
  overflow: hidden;
  display: flex;
  border-radius: 15px;
  border: 1px solid black;
}

.technologies-row-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  max-height: 100%;
  background-color: white;
}


.links-row {
  display: flex;
  flex-wrap: wrap;
}

.links-row-image-container {
  margin: 12px;
  width: 50px;
  height: 50px;
  overflow: hidden;
  display: flex;
  border-radius: 15px;
  border: 1px solid black;
}

.links-row-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  height: 100%;
  background-color: white;
}