#portrait-icon {
  height: 0;
  width: 0;
  top: 0;
  border-radius: 5vw;
  overflow: hidden;
}

#portrait-icon > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

#portrait-icon:hover {
  border-width: 5px;
  cursor: pointer;
}