#portrait-icon {
  height: auto;
  border-color: black;
  border-width: 5px;
  /* border-radius: 5vw; */
  overflow: hidden;
  
}

#portrait-icon > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  max-height: 100%;
}

#portrait-icon:hover > img {
  border: 3px black;
  cursor: pointer;
}