.project-menu-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project-menu-option {
  margin: 12px;
  max-width: 250px;
}

.project-menu-option-image-container{
  height: auto;
  overflow: hidden;
}

.project-menu-option-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  max-height: 100%;
}


.project-menu-option-image-container:hover {
  cursor: pointer;
}

.project-return:hover {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}